[flake8]
max-line-length = 79
max-doc-length = 72

require-plugins = pep8-naming

# any code not written by us, or any extraneous cases
exclude =
    src/navigation/pure_pursuit/**,
    src/navigation/particle_filter/**
