[submodule "src/perception/zed_wrapper"]
	path = src/perception/zed_wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
[submodule "src/perception/livox_ros_driver2"]
	path = src/perception/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
[submodule "src/perception/Livox-SDK2"]
	path = src/perception/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
