# Deep learning
*.weights
*.pth

# Compiled Object files
*.slo
*.lo
*.o
devel/*.obj
build/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python byte code
*.pyc

# Log file
*.log

# ROS stuff
**/install
**/build
**/log

# macOS
.DS_Store

# images (for now)
*.jpg
*.svg
*.jpeg
*.png

# python cache
__pycache__
.mypy_cache

# clangd cache
.cache/
