[submodule "src/perception/zed-ros2-wrapper"]
	path = src/perception/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
[submodule "src/perception/zed-ros2-examples"]
	path = src/perception/zed-ros2-examples
	url = https://github.com/stereolabs/zed-ros2-examples.git
